doctype html
html(ng-app="resumeApp")
    head
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Bungee|Quicksand|Rubik|Squada+One")
        link(rel='stylesheet', href="App/css/bootstrap.min.css")
        link(rel='stylesheet', href="App/css/font-awesome.min.css")
    body
        div.page-header
            h1.text-center WEI-HSIANG LIN
        div.container.center-block
            div.row
                div.col-md-7.col-md-offset-1
                    include ../App/components/projectlist/partials/education.pug
                    include ../App/components/projectlist/partials/workExperience.pug
                div.col-md-3
                    include ../App/components/projectlist/partials/contact.pug
                    include ../App/components/projectlist/partials/imalso.pug

        script(src="App/components/thirdParty/angular.min.js")
        script(src="App/components/thirdParty/angular-ui-router.min.js")
        script(src="App/components/app_1.js")
        script(src="App/components/projectlist/data/appdata.js")
        script(src="App/components/projectlist/controllers/controllers.js")
