<html ng-app="customerOrdersApp">
<head>
<link rel="stylesheet" href="App/css/default.css">
</head>

<body>

	<main id="shell">

		<!-- logo & top level links -->
		<header ng-include src="'App/components/customerorders/partials/header.html'"></header>

		<!-- sidebar to navigate the customer list -->
		<nav id="side" ng-include src="'App/components/customerorders/partials/customerList.html'"></nav>

		<!-- region for display application content -->
		<section id="content" ui-view></section>

	</main>

	<script src="App/components/thirdParty/angular.min.js"></script>
	<script src="App/components/thirdParty/angular-ui-router.min.js"></script>
	<script src="App/components/app.js"></script>
	<script src="App/components/customerorders/data/appdata.js"></script>
	<script src="App/components/customerorders/controllers/controllers.js"></script>
</body>
