doctype html
html(ng-app="resumeApp")
    head
        //link(rel='stylesheet', href='App/css/default.css')
        //link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Bungee|Cabin:400,700")
        link(rel='stylesheet', href="App/css/bootstrap.min.css")
    body
        div.page-header
            h1.text-center WEI-HSIANG (Max) LIN
            p.text-center
                strong software engineer
        div.container.center-block
            div.row
                div.col-md-12.bg-info role#1
            div.row
                div.col-md-7.col-md-offset-1
                    include ../App/components/projectlist/partials/education.pug
                    include ../App/components/projectlist/partials/workExperience.pug
                div.col-md-3
                    include ../App/components/projectlist/partials/contact.pug
                    include ../App/components/projectlist/partials/imalso.pug
        //main#shell
          //  header(ng-include, src="'App/components/customerorders/partials/header.html'")
            //nav(id="side", ng-include, src="'App/components/customerorders/partials/customerList.html'")
            //section(id="content", ng-include, src="'App/components/projectlist/partials/workExperience.html'")

        script(src="App/components/thirdParty/angular.min.js")
        script(src="App/components/thirdParty/angular-ui-router.min.js")
        script(src="App/components/app_1.js")
        script(src="App/components/projectlist/data/appdata.js")
        script(src="App/components/projectlist/controllers/controllers.js")
