h3.bordered
    strong Contact
ul
    li Email: max.linwehis@gmail.com
    li On the web:
        ul
            li
                i.fa.fa-github.fa-lg
                |
                |
                a(href='#') Github
            li
                i.fa.fa-instagram.fa-lg
                |
                |
                a(href='#') Instagram
            li
                i.fa.fa-linkedin-square.fa-lg
                |
                |
                a(href='http://goo.gl/DeAGrZ') Linkedin
