h3.bordered
    strong Work Experience
section(ng-controller="workExperienceController")
    h4
        a(href="{{companyList.url}}") {{companyList.name}}
        |
        | —
        |
        strong {{companyList.title}}
        |
        |
        small [{{companyList.date}}]
    ul
        li(ng-repeat="i in companyList.descriptions") {{i.item}}
